<h1>Rock Paper Scissors</h1>

<form action='game'>
  <div class='form-group'>
    <label for='player_one'>Player one enter Rock, Paper or Scissors</label>
    <input id='player_one' name='player_one' type='text' class='form-control'>
    <label for='player_two'>Player two enter Rock, Paper or Scissors</label>
    <input id='player_two' name='player_two' type='text' class='form-control'>
  </div>
  <button type='submit' class='btn btn-success'>Send</button>
</form>
