<h1>Rock Paper Scissors</h1>

<form action='game'>
  <div class='form-group'>
    <label for='player_one'>Enter Rock, Paper or Scissors</label>
    <input id='player_one' name='player_one' type='text' class='control-form'>
    <label for='player_two'>Enter Rock, Paper or Scissors</label>
    <input id='player_two' name='player_two' type='text' class='control-form'>
  </div>
  <button type='submit' class='btn-success'>Send</button>
</form>
