<h1>Player One vs Robot</h1>

<form action='robot_game'>
  <div class='form-group'>
    <label for='player_one'>Player one enter Rock, Paper or Scissors</label>
    <input id='player_one' name='player_one' type='text' class='form-control'>
  </div>
  <button type='submit' class='btn btn-success'>Send</button>
</form>
